body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('4back.png'); /* Use your desired space background */
    background-size: cover;
    text-align: center;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    color: #FFD700; /* Gold color */
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}.footer-links {
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.footer-links a:hover {
    text-decoration: underline;
}
