body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: white;
}

.background {
    background: url('1back.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rocket-icon {
    width: 30px;
    margin-right: 10px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-button {
    background-color: #6a0dad;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    background-color: #5e0c8c;
}

.signup {
    margin-top: 20px;
}

.signup a {
    color: #6a0dad;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}