body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('7back.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
    letter-spacing: 2px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

footer {
    text-align: center;
    padding: 20px;
}

footer nav a {
    margin: 0 10px;
    color: white;
}